:root{
  --placoholderColor: #7F7F7F;
  --fontSizeBase: 5px;
  --fontSizeUltraBig: calc(var(--fontSizeBase) + 5vmin);
  --fontSizeBig: calc(var(--fontSizeBase) + 3vmin);
  --fontSizeMedium: calc(var(--fontSizeBase) + 2vmin);
  --fontSizeSmall: calc(var(--fontSizeBase) + 3px + 1vmin);
  --fontSizeTimer: 48px;
  --buttonSize: 13vmin;
  --columnMargin: 1vmin;
}

.vsource{
  font-size: calc(2vmin)
}

.App {
  text-align: center;
  display: flex;
  background-color: white; /*282c34*/
  color: black;
}

.Start {
  display: block;
}

.Welcome {
  font-size: var(--fontSizeUltraBig);
}

.App-logo {
  height: 60vmin;
}

.App-Col {
  flex-basis: 50%; /* sets initial width to 70% */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSizeBig);
}

.App-form{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: var(--columnMargin);
  margin-bottom: var(--columnMargin);
}

.App-input{
  font-size: var(--fontSizeMedium);
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available; /* chrome */
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-color: black;
}

@-moz-document url-prefix() {
  .App-input {
    width: -moz-available; /* firefox */
  }
}

.input-selector{
  color: var(--placoholderColor);
}

.App-input::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placoholderColor); 
  opacity: 1 /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placoholderColor);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placoholderColor);
}

.App-checkbox-input{
  transform: scale(2);
}

.App-button{
  width: var(--buttonSize);
  height: var(--buttonSize);
  border-radius: calc(var(--buttonSize)/2);
  font-size: var(--fontSizeBig);
  color: white;
  background-color: #162E41;
  border-color: #162E41;
  box-shadow: 0 0px 10px 0 #162E41;
  margin-top: 4vmin;
}
.App-button:hover {
  box-shadow: 0 0px 20px 0 #162E41;
  }

.App-link {
  color: #0070C0;
}

.photoButton{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: var(--buttonSize);
  height: var(--buttonSize);
  border-radius: calc(var(--buttonSize)/2);
}
.photoButton:hover{
  box-shadow: 0 0px 25px 0 #162E41;
}

.figure{
  display: inline-block;
}

.launch{
  height: 180px;
  margin-top: 20px;
}

.countdownCircleTimer{
  margin-top: 2vmin;
  margin-left: calc(27%);
  transform: scale(0.6);
  -webkit-transform:scale(0.6);
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  position: relative;
  width: calc(var(--buttonSize)*0.75);
  height: calc(var(--buttonSize)*0.75);
  font-size: var(--fontSizeTimer);
}

.time-wrapper .time {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s;
}

.time-wrapper .time.up {
  opacity: 0;
  transform: translateY(-100%);
}

.time-wrapper .time.down {
  opacity: 0;
  transform: translateY(100%);
}

select option { color: black; }
select option:first-child { 
  color: var(--placoholderColor); 
}
select.empty { 
  color: var(--placoholderColor);
}
select option[disabled]:first-child { display: none; }

.checkbox-container{
  display: flex;
  align-items: center;
  font-size: var(--fontSizeSmall);
}

.checkbox-left{
  margin-top: 2vmin;
  flex: 15%;
}

.checkbox-label-right{
  margin-top: 2vmin;
  flex: 85%;
  text-align: left;
}

.videoStream{
  --width: 95%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

.flip{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.QR-code{
  width: 50%;
}

.HelpText{
  font-size: var(--fontSizeSmall);
  color: red;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
}

.MadeBy{
  color: lightgray;
  font-size: var(--fontSizeSmall);
  position: absolute;
  bottom: 1vmin;
  right: 2vmin;
  text-align: center;
}